@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* Heading Part */
.App__header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .05);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3em;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 400;
  background-color: white;
}


.App__header_LogoContainer {
  width: 200px;
  height: 100%;
}

.LogoContainer__Logo {
  width: 100%;
  height: 100%;
}

.App__navbar {
  width: calc(100% - 300px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App__navbar_ButtonsContainer {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: flex-end;
  padding: 0em 12em 0.5em 0em;
  justify-content: flex-end;
  gap: 20px;
}

.navbar__buttonContainer__buttons {
  width: 120px;
  padding: 2px;
  font-weight: 500;
  font-size: 16px;
  border: 2px solid #ff219f;
  border-radius: 5px;
}

.navbar__buttonContainer__buttons:nth-child(1) {
  background-color: white;
  color: #ff219f;
}

.navbar__buttonContainer__buttons:nth-child(2) {
  background-image: linear-gradient(0deg, #f941a9, #ff219f);
  color: white;
}

.navbar__buttonContainer__buttons:hover {
  cursor: pointer;
  color: black;
}

.App__navbar__LinksContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  height: 50%;
  padding-right: 5em;
}

.App__navbar__ItemsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar__ItemsContainer__Item {
  color: #707070;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dropDownContainer {
  position: absolute;
  width: 330px;
  top: 100%;
  left: 0%;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1607843137254902);
  border: 1px solid #ededed;
  border-radius: 6px;
  display: none;
}

.project__dropDownContainer {
  width: 250px;
  left: -200%;
}

.dropDownContainer__Item {
  width: 100%;
  height: 100%;
  display: block;
  padding: 1em 0em 1em 2em;
  text-decoration: none;
  color: #707070;
  font-weight: 400;
}

.dropDownContainer__Item:hover {
  color: #00afec;
  font-weight: 600;
}

.navbar__ItemsContainer__Item:hover {
  cursor: pointer;
  color: black;
}

.App__navbar__ItemsContainer:hover .dropDownContainer {
  display: block;
}

.App__navbar__UserContainer {
  height: 100%;
  width: fit-content;
}

.UserBox {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

}

.userInitials {
  width: 40px;
  background-color: #03A6EC;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 25px;
  font-weight: 400;

}

.greetingText {
  color: #03A6EC;
  font-weight: 500;
}

.header__hamMenuButton {
  font-size: 20px;
  color: rgb(24, 107, 225);
  display: none;
}

.helpContainer__Message {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #03A6EC;
  font-weight: 600;
  font-size: 20px;
  position: sticky;
  bottom: 0;
}

/* Home Page CSS */
.homeSection__Container {
  width: 100%;
  height: fit-content;
}

.homeSectionContainer__HeroContainer {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 500px 98px;
  background-color: white;
}

.HeroContainer__LeftSection {
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding-left: 4em;
}

.HeroLeftSection__FirstSentence {
  width: 100%;
  font-size: 3vw;
  font-weight: 400;
  color: #f78077;
}

.HeroLeftSection__SecondSentence {
  font-size: 2.8vw;
  width: 85%;
  color: #3e4041;
  font-weight: 600;
}

.HeroLeftSection__ThirdSentence {
  margin: 20px 0px;
  width: 100%;
  color: #f78077;
  font-weight: 500;
  font-size: 1.6vw;
}

.knowMoreButton {
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  display: block;
  background: #00a5ec;
  border: none;
  font-size: 18px;
  width: 200px;
  padding: 0.7em;
  color: #fff;
  border-radius: 4px;
  font-weight: 500;
}

.knowMoreButton:hover {
  cursor: pointer;
  background: #09c;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .1607843137254902);
}

.HeroContainer__RightSection {
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  grid-row: 1/2;
}

.RightSection_HeroPoster {
  width: 100%;
  height: 100%;
}

.HeroContainer__achievementContainer {
  grid-column: 1/3;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.achievementContainer_PosterContainer {
  width: 130px;
}

.AchievementPoster {
  width: 100%;
  height: 100%;
}

/* Coding Journey part */
.CodingJourney__Container {
  background: #f8fafa;
  margin-top: 10px;
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px
}

.CodingJourneyContainer__LeftContainer {
  width: 45%;
  height: 100%;
  background: #f8fafa;
}

.CodingJourneyContainer__RightContainer {
  background: #f8fafa;
  width: 55%;
  height: 100%;
  padding-top: 3em;
}

.CodingJourneyContainer__LeftContainer img {
  width: 100%;
}

.CodingJourneyRightContainer__heading {
  color: #424242;
  font-size: 2vw;
  width: 80%;
  font-weight: 600;
}

.CodingJourney__StepContainer {
  width: 90%;
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.StepContainer__First {
  align-items: flex-start;
}

.StepContainer__Second {
  align-items: end;
}

.StepContainer__Third {
  align-items: flex-start;
}

.StepContainer__Fourth {
  align-items: end;
}

.StepContainer__Box {
  position: relative;
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em 1.5em 0em 3em;
  box-shadow: 0 3px 25px rgba(0, 0, 0, .10196078431372549);
  border-radius: 5px;
}

.StepContainer_ICON {
  position: absolute;
  top: 50%;
  left: -22px;
  transform: translate(0%, -50%);
}

.SetpContainer_Box_Text {
  font-size: 18px;
}

.StepContainer__heading {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  width: 300px;
}

.StepContainer__FirstBox {
  border: 1px dashed rgb(247, 128, 119);
  color: rgb(247, 128, 119);
  background: rgb(253, 240, 215);
}

.StepContainer__headingFirst {
  color: rgb(247, 128, 119);

}

.StepContainer__SecondBox {
  color: rgb(253, 205, 6);
  background: rgb(255, 249, 228);
  border: 1px dashed rgb(253, 205, 6);
}

.StepContainer__headingSecond {
  color: rgb(253, 205, 6);
}

.StepContainer__ThirdBox {
  color: rgb(15, 181, 130);
  background: rgb(228, 246, 241);
  border: 1px dashed rgb(15, 181, 130);
}

.StepContainer__headingThird {
  color: rgb(15, 181, 130);
}

.StepContainer__FourthBox {
  color: rgb(240, 119, 149);
  background: rgb(255, 231, 237);
  border: 1px dashed rgb(240, 119, 149);
}

.StepContainer__headingFourth {
  color: rgb(240, 119, 149);
}

.StepContainer__arrowImages {
  position: absolute;
  width: 180px;
  top: 5em;
}

.StepContainer__firstArrowImages {
  left: 45%;
}

.StepContainer__SecondArrowImages {
  right: 45%;
  transform: scaleX(-1);
}

.CodingJourney__FinalGoalContainer {
  width: 90%;
}

.CodingJourney__finalGoalImage {
  width: 320px;
}

/* Couse types section */
.CourseTypes__MainContainer {
  margin-top: 10px;
  width: 100%;
  background: #fff;
}

.CourseTypes__MainContainer__Heading {
  color: #707070;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.CourseType__CardContainer {
  width: 100%;
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(295px, 295px));
  align-items: center;
  justify-content: space-evenly;
  gap: 35px;
  padding: 2em;
}

.CourseType__Card {
  width: 100%;
  position: relative;
  height: 340px;
  box-shadow: 0 3px 32px rgba(0, 0, 0, .10196078431372549);
  border-radius: 8px;
  padding: 0em 1em;
  text-decoration: none;
}

.CourseType_CardPoster {
  width: 100%;
  border-radius: 8px;
}

.CourstType__CardText {
  font-size: 20px;
  width: 100%;
  padding-left: 2em;
  padding-right: 0.5em;
  margin-top: 10px;
  font-weight: 600;
}

.CourseType__Card:nth-child(1) {
  color: rgb(0, 165, 236);
}

.CourseType__Card:nth-child(2) {
  color: rgb(240, 119, 149);
}

.CourseType__Card:nth-child(3) {
  color: rgb(15, 181, 130);
}

.CourseType__CardArrowButton {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  bottom: -25px;
  right: 40%;
  transform: translate(-50%);
  background-color: white;
  box-shadow: 0 3px 32px rgba(0, 0, 0, .1607843137254902);
  display: flex;
  align-items: center;
  justify-content: center;
}

.CourseType__CardArrowButton .arrowICON {
  font-size: 25px;
  font-weight: 700;
  color: rgb(0, 165, 236);
}

.CourseType__Card:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgb(0 0 0/25%), 0 10px 10px rgb(0 0 0/22%);
}

/* Swtich Carrer Container */
.SwitchCarrer__MainContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2em 1em;

}

.SwitchCarrer__LeftContainer {
  width: 40%;
  height: 100%;
}

.LeftContainer__headingText {
  font-size: 2.5vw;
  font-weight: 500;
  width: 90%;
  color: #424242;
}

.headingFirst {
  display: none;
}

.CarrerPlanBox {
  position: relative;
  border-radius: 5px;
  width: 500px;
  margin-top: 20px;
  background: #fff;
  box-shadow: 0 3px 25px rgba(0, 0, 0, .10196078431372549);
  display: flex;
  align-items: center;
  padding: 1.5em 0em 1.5em 5em;
}

.CarrerPlanICON {
  position: absolute;
  top: 0;
  left: -30px;
  width: 78px;
}

.CarrerPlanBox_Text {
  width: 70%;
  font-size: 1vw;
  color: #707070;
  font-weight: 300;
}

.courseName {
  margin-top: 20px;
  width: 500px;
  font-size: 1.5vw;
  font-weight: 500;
}

.courseName_Text {
  color: #707070;
  font-weight: 400;
}

.LeftContainer__KnowMoreButton:hover {
  background-color: #00a5ec;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .1607843137254902);
}

.SwitchCarrer__RightContainer {
  width: 40%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  justify-content: center;
}

.SwtichCarrerPoster {
  width: 100%;
  height: 100%;
}

.CarrerFirstIMg {
  grid-column: 1/2;
  grid-row: 1/3;
}

.CarrerSecondIMg {
  grid-column: 2/3;
  grid-row: 1/2;
}

.CarrerThirdIMg {
  grid-column: 2/3;
  grid-row: 2/3;
}

/* Founder Know details */

/* All screen sizes */

@media screen and (max-width: 1110px) {
  .App__navbar {
    display: none;
  }

  .header__hamMenuButton {
    display: flex;
    margin-right: 30px;
    font-size: 25px;
  }

  .helpContainer__Message {
    display: none;
  }

  .StepContainer__firstArrowImages {
    left: 60%
  }

  .StepContainer__SecondArrowImages {
    right: 60%;
  }

  .CodingJourney__FinalGoalContainer {
    justify-content: flex-start;
  }

}

@media screen and (max-width: 1025px) {

  .HeroContainer__LeftSection {
    padding: 1em 2em;
  }

  .HeroLeftSection__FirstSentence {
    width: 100%;
    font-size: 3.5vw;
  }

  .HeroLeftSection__SecondSentence {
    width: 100%;
    font-size: 3.5vw;
  }

  .HeroLeftSection__ThirdSentence {
    width: 100%;
    font-size: 2vw;
  }

  .CodingJourney__Container {
    background-image: url("./Assets/StudentIMG.svg");
    background-position: top;
    background-size: 500px;
    background-repeat: no-repeat;
    justify-content: center;
  }

  .CodingJourneyContainer__LeftContainer {
    display: none;
  }

  .CodingJourneyContainer__RightContainer {
    width: 90%;
    background: #f8fafabb;
  }

  .CodingJourneyRightContainer__heading {
    width: 100%;
    font-size: 2.5vw;
    text-align: center;
  }

  .StepContainer__arrowImages {
    width: 200px;
  }

  .SwitchCarrer__MainContainer {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .SwitchCarrer__LeftContainer {
    width: 80%;
  }

  .LeftContainer__headingText {
    display: none;
  }

  .SwitchCarrer__RightContainer {
    width: 90%;
  }

  .headingFirst {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 10px;
    color: #3e4041;
  }

  .CarrerPlanBox {
    margin: 20px auto;
  }

  .CarrerPlanBox_Text,
  .courseName {
    font-size: 18px;
  }

  .courseName {
    margin: 20px auto;
  }

  .LeftContainer__KnowMoreButton {
    margin-left: 18%;
  }
}

@media screen and (max-width: 768px) {

  .homeSectionContainer__HeroContainer {
    grid-template-columns: 100%;
    grid-template-rows: 600px 300px 98px;
  }

  .HeroContainer__LeftSection {
    padding: 1em 2em;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: flex-start;
  }

  .HeroContainer__RightSection {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .HeroContainer__achievementContainer {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .HeroLeftSection__FirstSentence {
    width: 100%;
    font-size: 5vw;
  }

  .HeroLeftSection__SecondSentence {
    width: 100%;
    font-size: 4vw;
  }

  .HeroLeftSection__ThirdSentence {
    width: 100%;
    font-size: 3vw;
  }

  .knowMoreButton {
    margin: 5px 0px;
  }

  .CodingJourney__StepContainer {
    width: 100%;
  }

  .CourseType__CardArrowButton {
    top: 50%;
    right: -25px;
    transform: none;
  }

  .LeftContainer__KnowMoreButton {
    margin-left: 5%;
  }

  .SwitchCarrer__LeftContainer,
  .SwitchCarrer__RightContainer {
    width: 80%;
  }

  .LeftContainer__KnowMoreButton {
    margin-left: 10%;
  }
}

@media screen and (max-width: 650px) {
  .App__header {
    padding-left: 0.5em;
  }

  .App__header_LogoContainer {
    width: 120px;
  }

  .homeSectionContainer__HeroContainer {
    grid-template-columns: 100%;
    grid-template-rows: 350px 250px 98px;
  }

  .HeroContainer__LeftSection {
    padding: 1em;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: flex-start;
  }

  .HeroContainer__RightSection {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .RightSection_HeroPoster {
    object-fit: cover;
    object-position: top;
  }

  .HeroContainer__achievementContainer {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .HeroLeftSection__FirstSentence {
    width: 100%;
    font-size: 20px;
  }

  .HeroLeftSection__SecondSentence {
    width: 100%;
    font-size: 4vw;
  }

  .HeroLeftSection__ThirdSentence {
    width: 100%;
    font-size: 3vw;
  }

  .CarrerPlanBox,
  .courseName {
    margin: 20px auto;
    width: 100%;
  }

  .LeftContainer__KnowMoreButton {
    margin-left: 0%;
  }

  .SwitchCarrer__MainContainer {
    padding: 0em;

  }
}

@media screen and (max-width: 585px) {
  .StepContainer__Box {
    position: relative;
    width: 275px;
  }

  .StepContainer__arrowImages {
    width: 120px;
    top: 8em;
  }

  .StepContainer__firstArrowImages {
    left: 65%;
  }

  .StepContainer__SecondArrowImages {
    right: 65%;
  }

  .CodingJourney__finalGoalImage {
    width: 200px;
    width: 100%;
  }
}

@media screen and (max-width: 426px) {

  .homeSectionContainer__HeroContainer {
    grid-template-columns: 100%;
    grid-template-rows: 300px 230px 98px;
  }

  .HeroLeftSection__FirstSentence {
    width: 100%;
    font-size: 6vw;
  }

  .HeroLeftSection__SecondSentence {
    width: 100%;
    font-size: 5vw;
  }

  .HeroLeftSection__ThirdSentence {
    width: 100%;
    font-size: 4vw;
  }

  .CodingJourneyContainer__RightContainer {
    padding-left: 2em;
    padding-right: 1em;
    width: 100%;
  }

  .StepContainer__arrowImages {
    width: 90px;
    top: 8em;
  }

  .StepContainer__Box {
    position: relative;
    width: 180px;
  }

  .SetpContainer_Box_Text {
    font-size: 14px;
  }

  .StepContainer__heading {
    font-size: 16px;
    width: 180px;
  }

  .StepContainer__firstArrowImages {
    left: 55%;
  }

  .StepContainer__SecondArrowImages {
    right: 55%;
  }

  .CarrerPlanICON {
    top: 0;
    width: 60px;
    height: 66px;
    left: -25px;
  }

  .CarrerPlanBox_Text {
    width: 100%;
    font-size: 16px;
  }

  .headingFirst {
    text-align: left;
    font-size: 26px;
    padding-left: 0.5em;
    font-size: 700;
    color: #3e4041;
  }
}


@media screen and (max-width: 376px) {
  .CodingJourneyContainer__RightContainer {
    padding-left: 2em;
    padding-right: 0;
  }

  .StepContainer__arrowImages {
    width: 70px;
    top: 10em;
  }

  .StepContainer__firstArrowImages {
    left: 60vw;
  }

  .StepContainer__SecondArrowImages {
    right: 60vw;
  }

  .CourseType__CardArrowButton {
    width: 40px;
    height: 40px;
  }

  .CourseType__CardContainer {
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  }
  .FounderKnow__MainContainer {
    min-height: 220vh;
  }

  .CarrerPlanICON {
    top: 0;
    width: 60px;
    height: 66px;
    left: -25px;
  }

  .CarrerPlanBox_Text {
    width: 100%;
    font-size: 16px;
  }

  .CarrerPlanBox {
    padding-right: 0.5em;
  }
  .FounderDetailsContainer__TextSecond,
  .FounderDetailsContainer__TextSecond2 {
    font-size: 6vw;
    width: 100%;
  }
}