@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* Heading Part */
.App__header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .05);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3em;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 400;
  background-color: white;
}


.App__header_LogoContainer {
  width: 200px;
  height: 100%;
}

.LogoContainer__Logo {
  width: 100%;
  height: 100%;
}

.App__navbar {
  width: calc(100% - 300px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App__navbar_ButtonsContainer {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: flex-end;
  padding: 0em 12em 0.5em 0em;
  justify-content: flex-end;
  gap: 20px;
}

.navbar__buttonContainer__buttons {
  width: 120px;
  padding: 2px;
  font-weight: 500;
  font-size: 16px;
  border: 2px solid #ff219f;
  border-radius: 5px;
}

.navbar__buttonContainer__buttons:nth-child(1) {
  background-color: white;
  color: #ff219f;
}

.navbar__buttonContainer__buttons:nth-child(2) {
  background-image: linear-gradient(0deg, #f941a9, #ff219f);
  color: white;
}

.navbar__buttonContainer__buttons:hover {
  cursor: pointer;
  color: black;
}

.App__navbar__LinksContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  height: 50%;
  padding-right: 5em;
}

.App__navbar__ItemsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
}

.navbar__ItemsContainer__Item {
  color: #707070;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dropDownContainer {
  position: absolute;
  width: 330px;
  top: 100%;
  left: 0%;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1607843137254902);
  border: 1px solid #ededed;
  border-radius: 6px;
  display: none;
}

.project__dropDownContainer {
  width: 250px;
  left: -200%;
}

.dropDownContainer__Item {
  width: 100%;
  height: 100%;
  display: block;
  padding: 1em 0em 1em 2em;
  text-decoration: none;
  color: #707070;
  font-weight: 400;
}

.dropDownContainer__Item:hover {
  cursor: pointer;
  color: #00afec;
  font-weight: 600;
}

.navbar__ItemsContainer__Item:hover {
  cursor: pointer;
  color: black;
}

.App__navbar__ItemsContainer:hover .dropDownContainer {
  display: block;
}

.App__navbar__UserContainer {
  height: 100%;
  width: fit-content;
  position: relative;
}

.UserBox {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  cursor: pointer;
}

.userDropownContainer {
  box-shadow: none;
  display: block !important;
  position: absolute;
  left: 0%;
  top: 150%;
  min-width: max-content;
  width: 120%;
}

.userDropownContainer .dropDownContainer__Item {
  padding-left: 1em;
}

.userDropownContainer .dropDownContainer__Item:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 400;
  gap: 10px;
  border-bottom: 1px solid #3e4041;
}

.App__navbar__UserContainer:hover .userDropownContainer {
  display: block;
}

.userInitials {
  width: 45px;
  background-color: #03A6EC;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 25px;
  font-weight: 400;
  user-select: none;

}

.greetingText {
  color: #03A6EC;
  font-weight: 500;
  min-width: 100px;
  user-select: none;
}

.header__hamMenuButton {
  font-size: 20px;
  color: rgb(24, 107, 225);
  display: none;
  cursor: pointer;
}

.helpContainer__Message {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #03A6EC;
  font-weight: 600;
  font-size: 20px;
  position: sticky;
  bottom: 0;
  z-index: 5;
}

mobile .mobileNavbar__Conainer {
  /* border: 2px solid red; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: absolute;
  top: 100%;
  right: 0;
  width: 320px;
  height: 640px;
  background-color: #fff;
  overflow: hidden;
  overflow-y: auto;
  display: none;
}

.mobileNavbar__Conainer .mobilenav__items,
.mobileNavbar__Conainer .mobileNav__UserBox {
  display: none;
}

.mobileNav__UserBox {
  height: 120px;
}

.mobileNav__userGreeting {
  border-bottom: 1px solid #767779;
  width: 100%;
  padding-left: 1em;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  height: 60px;
  font-weight: 400;
  text-decoration: none;
  color: #3e4041;
}

.mobileNav__userGreeting i {
  font-size: 20px;
}

.mobilenav__items {
  display: block;
  height: 50px;
  text-decoration: none;
  width: 100%;
  font-weight: 500;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1em;
  font-size: 16px;
  color: #424242;
}

.mobilenav__items:hover {
  color: #4b8ce8;
  cursor: pointer;
}

.Mobilenav__loginSignUpLink {
  color: #f78077;
  font-size: 20px;
}

/* Home Page CSS */
.homeSection__Container {
  width: 100%;
  height: fit-content;
}

.homeSectionContainer__HeroContainer {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 500px 98px;
  background-color: white;
}

.HeroContainer__LeftSection {
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding-left: 4em;
}

.HeroLeftSection__FirstSentence {
  width: 100%;
  font-size: 3vw;
  font-weight: 400;
  color: #f78077;
}

.HeroLeftSection__SecondSentence {
  font-size: 2.8vw;
  width: 85%;
  color: #3e4041;
  font-weight: 600;
}

.HeroLeftSection__ThirdSentence {
  margin: 20px 0px;
  width: 100%;
  color: #f78077;
  font-weight: 500;
  font-size: 1.6vw;
}

.knowMoreButton {
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  display: block;
  background: #00a5ec;
  border: none;
  font-size: 18px;
  width: 200px;
  padding: 0.7em;
  color: #fff;
  border-radius: 4px;
  font-weight: 500;
}

.knowMoreButton:hover {
  cursor: pointer;
  background: #09c;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .1607843137254902);
}

.HeroContainer__RightSection {
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  grid-row: 1/2;
}

.RightSection_HeroPoster {
  width: 100%;
  height: 100%;
}

.HeroContainer__achievementContainer {
  grid-column: 1/3;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.achievementContainer_PosterContainer {
  width: 130px;
}

.AchievementPoster {
  width: 100%;
  height: 100%;
}

/* Coding Journey part */
.CodingJourney__Container {
  background: #f8fafa;
  margin-top: 10px;
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px
}

.CodingJourneyContainer__LeftContainer {
  width: 45%;
  height: 100%;
  background: #f8fafa;
}

.CodingJourneyContainer__RightContainer {
  background: #f8fafa;
  width: 55%;
  height: 100%;
  padding-top: 3em;
}

.CodingJourneyContainer__LeftContainer img {
  width: 100%;
}

.CodingJourneyRightContainer__heading {
  color: #424242;
  font-size: 2vw;
  width: 80%;
  font-weight: 600;
}

.CodingJourney__StepContainer {
  width: 90%;
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.StepContainer__First {
  align-items: flex-start;
}

.StepContainer__Second {
  align-items: end;
}

.StepContainer__Third {
  align-items: flex-start;
}

.StepContainer__Fourth {
  align-items: end;
}

.StepContainer__Box {
  position: relative;
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em 1.5em 0em 3em;
  box-shadow: 0 3px 25px rgba(0, 0, 0, .10196078431372549);
  border-radius: 5px;
}

.StepContainer_ICON {
  position: absolute;
  top: 50%;
  left: -22px;
  transform: translate(0%, -50%);
}

.SetpContainer_Box_Text {
  font-size: 18px;
}

.StepContainer__heading {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  width: 300px;
}

.StepContainer__FirstBox {
  border: 1px dashed rgb(247, 128, 119);
  color: rgb(247, 128, 119);
  background: rgb(253, 240, 215);
}

.StepContainer__headingFirst {
  color: rgb(247, 128, 119);

}

.StepContainer__SecondBox {
  color: rgb(253, 205, 6);
  background: rgb(255, 249, 228);
  border: 1px dashed rgb(253, 205, 6);
}

.StepContainer__headingSecond {
  color: rgb(253, 205, 6);
}

.StepContainer__ThirdBox {
  color: rgb(15, 181, 130);
  background: rgb(228, 246, 241);
  border: 1px dashed rgb(15, 181, 130);
}

.StepContainer__headingThird {
  color: rgb(15, 181, 130);
}

.StepContainer__FourthBox {
  color: rgb(240, 119, 149);
  background: rgb(255, 231, 237);
  border: 1px dashed rgb(240, 119, 149);
}

.StepContainer__headingFourth {
  color: rgb(240, 119, 149);
}

.StepContainer__arrowImages {
  position: absolute;
  width: 180px;
  top: 5em;
}

.StepContainer__firstArrowImages {
  left: 45%;
}

.StepContainer__SecondArrowImages {
  right: 45%;
  transform: scaleX(-1);
}

.CodingJourney__FinalGoalContainer {
  width: 90%;
}

.CodingJourney__finalGoalImage {
  width: 320px;
}

/* Couse types section */
.CourseTypes__MainContainer {
  margin-top: 10px;
  width: 100%;
  background: #fff;
}

.CourseTypes__MainContainer__Heading {
  color: #707070;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.CourseType__CardContainer {
  width: 100%;
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(295px, 295px));
  align-items: center;
  justify-content: space-evenly;
  gap: 35px;
  padding: 2em;
}

.CourseType__Card {
  width: 100%;
  position: relative;
  height: 340px;
  box-shadow: 0 3px 32px rgba(0, 0, 0, .10196078431372549);
  border-radius: 8px;
  padding: 0em 1em;
  text-decoration: none;
}

.CourseType_CardPoster {
  width: 100%;
  border-radius: 8px;
}

.CourstType__CardText {
  font-size: 20px;
  width: 100%;
  padding-left: 2em;
  padding-right: 0.5em;
  margin-top: 10px;
  font-weight: 600;
}

.CourseType__Card:nth-child(1) {
  color: rgb(0, 165, 236);
}

.CourseType__Card:nth-child(2) {
  color: rgb(240, 119, 149);
}

.CourseType__Card:nth-child(3) {
  color: rgb(15, 181, 130);
}

.CourseType__CardArrowButton {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  bottom: -25px;
  right: 40%;
  transform: translate(-50%);
  background-color: white;
  box-shadow: 0 3px 32px rgba(0, 0, 0, .1607843137254902);
  display: flex;
  align-items: center;
  justify-content: center;
}

.CourseType__CardArrowButton .arrowICON {
  font-size: 25px;
  font-weight: 700;
  color: rgb(0, 165, 236);
}

.CourseType__Card:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgb(0 0 0/25%), 0 10px 10px rgb(0 0 0/22%);
}

/* Swtich Carrer Container */
.SwitchCarrer__MainContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2em 1em;

}

.SwitchCarrer__LeftContainer {
  width: 40%;
  height: 100%;
}

.LeftContainer__headingText {
  font-size: 2.5vw;
  font-weight: 500;
  width: 90%;
  color: #424242;
}

.headingFirst {
  display: none;
}

.CarrerPlanBox {
  position: relative;
  border-radius: 5px;
  width: 500px;
  margin-top: 20px;
  background: #fff;
  box-shadow: 0 3px 25px rgba(0, 0, 0, .10196078431372549);
  display: flex;
  align-items: center;
  padding: 1.5em 0em 1.5em 5em;
}

.CarrerPlanICON {
  position: absolute;
  top: 0;
  left: -30px;
  width: 78px;
}

.CarrerPlanBox_Text {
  width: 70%;
  font-size: 1vw;
  color: #707070;
  font-weight: 300;
}

.courseName {
  margin-top: 20px;
  width: 500px;
  font-size: 1.5vw;
  font-weight: 500;
}

.courseName_Text {
  color: #707070;
  font-weight: 400;
}

.LeftContainer__KnowMoreButton:hover {
  background-color: #00a5ec;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .1607843137254902);
}

.SwitchCarrer__RightContainer {
  width: 40%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  justify-content: center;
}

.SwtichCarrerPoster {
  width: 100%;
  height: 100%;
}

.CarrerFirstIMg {
  grid-column: 1/2;
  grid-row: 1/3;
}

.CarrerSecondIMg {
  grid-column: 2/3;
  grid-row: 1/2;
}

.CarrerThirdIMg {
  grid-column: 2/3;
  grid-row: 2/3;
}

/* User Form Contaienr & LOGIN AND REGISTER */
.UserForm__MainContainer {
  background-image: url("https://s3.ap-south-1.amazonaws.com/www.prepbytes.com/images/blue-background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.UserFormContainer__LeftContainer {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.illustratedIMG {
  width: calc(100% - 250px);
}

.UserForm__Achievements {
  width: 215px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  height: fit-content;
  position: relative;
  padding: 2.5em 0em 0.5em 0em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
}

.UserForm_pbLOGO {
  width: 70px;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-60%);
}

.UserForm__AchievementBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.UserForm__AchievementICON {
  width: 50px;
}

.userForm_AchievementText {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 50px);
  text-align: left;
  padding: 0.5em;
  font-size: 14px;
  color: #423c3c;
  font-weight: 400;
}

.AchievementCount {
  font-weight: 600;
  font-size: 18px;
  color: #423c3c;

}


.UserFormContainer__FormContainer {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.FormContainer_Box {
  width: 80%;
  min-height: fit-content;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .1607843137254902);
  border-radius: 10px;
  background-color: #fffffe;
  padding: 0em 2em;
}

.FormContainer__Heading {
  width: 100%;
  height: 80px;
  border-bottom: 0.5px solid #4a8ce5;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.heading__navITEM {
  text-decoration: none;
  font-size: 20px;
  height: 40px;
  width: 40%;
  text-align: center;
  font-weight: 300;

}

.heading__navITEM.active {
  border-bottom: 2px solid #4b8ce8;
  color: #4b8ce8;
  font-weight: 600;
}

.userLogin__FORM {
  width: 100%;
  height: 420px;
}

.FormContainer_Box {
  margin-top: 60px;
}

.userRegister__Form {
  height: fit-content;
}

.form__ITEMBOX_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.signupButton {
  margin: 20px 0px;
}

.form__ITEMBOX_Container .form__itemBOX {
  margin: 0;
  width: 60%;
}

.form__ITEMBOX_Container .form__itemBOX:nth-child(2) {
  width: 40%;
}

.userLOGINFORM_Heading {
  color: #767779;
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0px;
  text-align: center;
}

.form__itemBOX {
  margin: 30px 0px;
  width: 100%;
  position: relative;
  height: 50px;

}

.formITEM {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
  font-size: 18px;
  font-weight: 400;
  padding-left: 0.3em;
}

.formITEM:hover {
  border-bottom: 2px solid black;
}

.formITEM_LABEL {
  background-color: white;
  position: absolute;
  bottom: 10px;
  left: 5px;
  font-weight: 400;
  font-size: 18px;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}

.form__itemBOX input:user-valid~.formITEM_LABEL,
.form__itemBOX .formITEM:focus~.formITEM_LABEL {
  font-size: 14px;
  transform: translateY(-30px);
}

.form__itemBOX input:user-invalid~.formITEM_LABEL {
  transform: translateY(0px);
}

.forgetlink {
  color: #4b8ce8;
  cursor: pointer;
  letter-spacing: 0;
  font-size: 14px;
}

.formCommonBtn {
  display: block;
  width: 100%;
  margin-top: 10px;
  height: 35px;
  font-size: 18px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.singinButton {
  border-radius: 5px;
  background: transparent linear-gradient(180deg, #4b8ce8, #4b8ce8) 0 0 no-repeat padding-box;
  color: #fff;
}

.loginByOTPBTN {
  background: #f2f8ff 0 0 no-repeat padding-box;
  border: 1px solid #4b8ce8;
  border-radius: 4px;
  color: #4b8ce8;
}

.formResponseMsg {
  color: #c80000;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}


/* Video Components */

.videoComponet__mainContainer {
  min-height: 100vh;
  width: 100%;
  padding: 0em 2em;
  background-color: #f7f7f7;

}

.videoComponent__headerContainer {
  background: #d9f5f9;
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContaienr__leftContainer {
  width: 55%;
  min-height: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-left: 3em;
}

.videoCompoLeftContainer__Text {
  width: 60%;
  font-size: 14px;
  color: #424242;
}

.videoCompoLeftContainer__heading {
  font-size: 32px;
  font-weight: 600;
  color: #00a5ec;
}

.headerContaienr__rightContainer {
  width: 45%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContainer__poster {
  width: 70%;
}

.videoComponent__categoryText {
  border-bottom: 2px solid #22559c;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  color: #22559c;
}

.videoComponent__CardContainer {
  padding: 1em;
  min-height: 600px;
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 330px));
  justify-content: center;
  align-content: center;
  gap: 50px;
}

.video__Card {
  width: 100%;
  height: 460px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.8em;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .11372549019607843);
  position: relative;
  border-radius: 10px;
  flex-direction: column;
  gap: 20px;
}

.Video_thumbnail {
  width: 100%;
  height: 220px;
  border-radius: 5px;
}

.videocard__title {
  padding-left: 1em;
  width: 100%;
  color: #424242;
  font-weight: 500;
  font-size: 20px;
}

.videocard__Desc {
  padding-left: 1em;
  font-size: 16px;
  letter-spacing: 1px;
  color: #858585;
}

.videoCard__CountContainer {
  position: absolute;
  bottom: 0;
  width: 95%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  padding-left: 1em;
}

.videoCard__Count {
  color: #858585;
  font-size: 12px;
}

/* Mock Test Component */
.MockTestComponent__MainContainer {
  width: 100%;
  min-height: 100vh;
}

.MockComponent__header {
  background: transparent linear-gradient(180deg, #3969ad, #1d3557) 0 0 no-repeat padding-box;
  width: 100%;
  min-height: 250px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding-left: 4em;
}

.MockComponent__header_Text {
  color: white;
  font-size: 32px;
  font-weight: 600;
}

.MockComponent__header_desc {
  width: 50%;
  font-size: 16px;
  color: white;
}

.MockTest__CardContainer {
  margin: 5em 0px;
  border-top: 2px solid #22559c;
  position: relative;
  min-height: 600px;
  width: 100%;
  padding: 0em 4em;
  padding-top: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 220px));
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  row-gap: 30px;
  user-select: none;
}

.TestHeading {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-60%, -50%);
  background-color: white;
  text-align: center;
  color: #ffa000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  user-select: none;
}

.MockText_TopicCard {
  user-select: none;
  width: 100%;
  height: 250px;
  background: transparent linear-gradient(180deg, #c4dcf9, #fff 54%, #fff) 0 0 no-repeat padding-box;
  box-shadow: 0 10px 30px rgba(95, 141, 196, .2);
  border-radius: 5px;
  color: #707070;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0.7em;
}

.TestTopicIcon {
  width: 50px;
  height: 55px;
}

.Cardtest__Price {
  font-size: 18px;
  font-weight: 600;
}

.Cardtest_topicName {
  width: 100%;
  text-align: center;
  color: #3969ad;
  font-weight: 500;
  font-size: 16px;
}

.TestNowButton {
  background: #22559c;
  box-shadow: 0 3px 6px rgba(95, 141, 196, .2);
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5em 1.2em;
  font-size: 16px;
  color: #fff;
  margin: 10px 0;
  text-decoration: none;
  border: none;
}

/* Payment Popup */
.paymentPopup__Container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.253);
  z-index: 1000;
  backdrop-filter: blur(3px);
}

.popupBox {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.795);
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2em;
}

.popupPrice {
  width: 100%;
  border-bottom: 2px solid #22559c;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #03A6EC;
  font-size: 28px;
  font-weight: 400;
}

.canclePayment,
.loginButton {
  border-radius: 10px;
  border: none;
  background-color: #22559c;
  color: white;
  font-weight: 600;
  width: 70%;
  padding: .4em;
  font-size: 18px;
}

.loginButton {
  position: absolute;
  top: 50%;
width: 200px;
}

.canclePayment:hover {
  cursor: pointer;
  background-color: #2e67b8;
}

/* Dashboard  */
.Dashbord__Container {
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard__sideBar {
  background-color: white;
  position: relative;
  top: 0;
  box-shadow: 10px 0 10px -5px rgb(33 35 38/10%);
  width: 80px;
  height: 100%;
  transition: all 0.5s ease-in-out;

}

.activeSidebar {
  background-color: white;
  position: relative;
  top: 0;
  box-shadow: 10px 0 10px -5px rgb(33 35 38/10%);
  height: 100%;
  width: 300px;
  transition: all 0.5s ease-in-out;
}

@keyframes fadeINText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



.dashboard__sidebarHamMenu {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 20px;
  cursor: pointer;
  transform: translateY(-50%)
}

.Dashboard_sideBar__item {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1em;
  font-size: 20px;
  gap: 20px;
  color: #3e4041;
}

.Dashboard_sideBar__item.activeItem {
  background-color: #ecf9ff;
  color: #5393ec;
  border-right: 3px solid #5393ec;
}

.sidebar_item_text {
  font-size: 16px;
  font-weight: 600;
  width: 90%;
  animation: fadeINText 0.5 ease-in-out .9s;
}

.dashboard__sideBar .Dashboard_sideBar__item .sidebar_item_text {
  display: none;
}

.dashboard__courseDetails {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  width: calc(100% - 80px);
  padding: 2em 4em;
}

.CourseDetails__headingContainer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.329);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.CourseDetails__tabText {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  color: #00a5ec;
  font-weight: 500;
  border-bottom: 3px solid #00a5ec;
}

.courseDetails__cardContainer {
  /* border: 2px solid red; */
  margin-top: 20px;
  min-height: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(304px, 304px));
  padding-top: 2em;
  gap: 30px;
  align-items: center;
  justify-content: center;

}

.courseDetails__card {
  box-shadow: 0 4px 0.9em #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  position: relative;
  background: transparent linear-gradient(180deg, #fff, #fff 24%, #fff 38%, hsla(0, 0%, 100%, .03137254901960784)) 0 0 no-repeat padding-box;
  border: 1px solid #ededed;
  border-radius: 10px;
  width: 304px;
  height: 320px;
  background-image: url("https://prepbytes-misc-images.s3.ap-south-1.amazonaws.com/bg-card+(1).png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;


}

.card__itemText {
  font-size: 18px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.CourseDetails_cardICON {
  width: 55px;
}

.card__itemText:nth-child(2) {
  font-weight: 500;
}

.card__itemText:nth-child(3) {
  font-weight: 700;
  color: #707070;
}

.card__itemText:nth-child(4) {
  font-size: 14px;
  color: #f78077;
  font-weight: 400;
}

/* Elevation Academy Component */
.ElevationAcademy__MainContainer {
  border: 2px solid red;
  width: 100%;
  min-height: 100vh;
  padding: 0em 5em;
}

.EA_MainContainer__TopMostContainer {
  background-color: rgb(253, 240, 215);
  min-height: 595px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.EA_TopMostContainer__Poster {
  border: 2px solid red;
  width: 45%;
  object-fit: contain;
  object-position: bottom;
}

.EA_TopMostContainer__DetailsBox {
  border: 2px solid blue;
  width: 55%;
}

.UnauthorizedPageContainer{
  background-image: url("./Assets/download.svg");
  background-size: 550px;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 5px;
  position: relative;
  padding-bottom: 5em;
}
.UnauthorizedPageContainer .knowMoreButton{
  background-color: transparent;
  border: 1px solid #f78077;
  width: 300px;
  color: #f78077;
  transition: all 0.3s ease-in-out;
}
.UnauthorizedPageContainer .knowMoreButton:hover{
 cursor: pointer;
 background-color: #f78077;
 color: white;
}
.unAuthMsg{
  color:#707070;
  font-weight: 400;
  width: 100%;
  text-align: center;
  color: tomato;
  font-size: 30px;
  user-select: none;
}



/* Footer Detains*/
.footer {
  width: 100%;
  background: rgb(213, 255, 255);
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 4em;
  padding: 2% 12% 5% 12%;
}

.footer_head,.footer_foot {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.column1 {
  min-height: 280px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.column2 {
  width: 300px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column3 {
  width: 10em;
}

.followUs,.latestArticles,.quickLinks,.contactUs,.popularArticles {
  max-width: 300px;
}

.footer_foot {
  border-top: 1px solid grey;
}

.footer_foot,.foot_left {
  display: flex;
  gap: 5px;
  font-size: calc(12px);
}

.followUs,.contactUs {
  width: 23vw;
  height: 8em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.brands {
  display: flex;
  gap: 15px;
}



.quickLinks {
  height: 15em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.quickLinks p {
  line-height: 1.8em;
}

.latestArticles,.popularArticles p {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.para {
  margin-top: 10px;
}









/* All screen sizes */





@media screen and (max-width: 1110px) {
  .App__navbar {
    display: none;
  }

  .header__hamMenuButton {
    display: flex;
    margin-right: 30px;
    font-size: 25px;
  }

  .helpContainer__Message {
    display: none;
  }

  .StepContainer__firstArrowImages {
    left: 60%
  }

  .StepContainer__SecondArrowImages {
    right: 60%;
  }

  .CodingJourney__FinalGoalContainer {
    justify-content: flex-start;
  }

  .FormContainer_Box {
    margin: 20px 0px;
  }

  .mobileNavbar__Conainer .mobilenav__items,
  .mobileNavbar__Conainer .mobileNav__UserBox {
    display: block;
  }

  .mobileNavbar__Conainer {
    background-color: white;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
  }
}

@media screen and (max-width: 1025px) {

  .HeroContainer__LeftSection {
    padding: 1em 2em;
  }

  .HeroLeftSection__FirstSentence {
    width: 100%;
    font-size: 3.5vw;
  }

  .HeroLeftSection__SecondSentence {
    width: 100%;
    font-size: 3.5vw;
  }

  .HeroLeftSection__ThirdSentence {
    width: 100%;
    font-size: 2vw;
  }

  .CodingJourney__Container {
    background-image: url("./Assets/StudentIMG.svg");
    background-position: top;
    background-size: 500px;
    background-repeat: no-repeat;
    justify-content: center;
  }

  .CodingJourneyContainer__LeftContainer {
    display: none;
  }

  .CodingJourneyContainer__RightContainer {
    width: 90%;
    background: #f8fafabb;
  }

  .CodingJourneyRightContainer__heading {
    width: 100%;
    font-size: 2.5vw;
    text-align: center;
  }

  .StepContainer__arrowImages {
    width: 200px;
  }

  .SwitchCarrer__MainContainer {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .SwitchCarrer__LeftContainer {
    width: 80%;
  }

  .LeftContainer__headingText {
    display: none;
  }

  .SwitchCarrer__RightContainer {
    width: 90%;
  }

  .headingFirst {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 10px;
    color: #3e4041;
  }

  .CarrerPlanBox {
    margin: 20px auto;
  }

  .CarrerPlanBox_Text,
  .courseName {
    font-size: 18px;
  }

  .courseName {
    margin: 20px auto;
  }

  .LeftContainer__KnowMoreButton {
    margin-left: 18%;
  }

  .UserForm_pbLOGO {
    display: none;
  }

  .UserForm__MainContainer {
    flex-direction: column;
    gap: 0px;
  }

  .UserFormContainer__LeftContainer {
    flex-direction: column;
    width: 60%;
  }

  .UserForm__Achievements {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    padding: 0.5em;
    width: fit-content;
  }

  .userForm_AchievementText {
    font-size: 12px;
  }

  .AchievementCount {
    font-size: 14px;
  }

  .UserFormContainer__FormContainer {
    width: 60%;
    padding: 0;
  }

  .FormContainer_Box {
    width: 100%;
    margin-bottom: 20px;
  }


  .headerContaienr__leftContainer {
    padding-left: 1em;
  }

  .videoCompoLeftContainer__Text {
    width: 100%;
  }

  .videoCompoLeftContainer__heading {
    font-size: 32px;
    font-weight: 600;
    color: #00a5ec;
  }

  .headerContainer__poster {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {

  .homeSectionContainer__HeroContainer {
    grid-template-columns: 100%;
    grid-template-rows: 600px 300px 98px;
  }

  .HeroContainer__LeftSection {
    padding: 1em 2em;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: flex-start;
  }

  .HeroContainer__RightSection {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .HeroContainer__achievementContainer {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .HeroLeftSection__FirstSentence {
    width: 100%;
    font-size: 5vw;
  }

  .HeroLeftSection__SecondSentence {
    width: 100%;
    font-size: 4vw;
  }

  .HeroLeftSection__ThirdSentence {
    width: 100%;
    font-size: 3vw;
  }

  .knowMoreButton {
    margin: 5px 0px;
  }

  .CodingJourney__StepContainer {
    width: 100%;
  }

  .CourseType__CardArrowButton {
    top: 50%;
    right: -25px;
    transform: none;
  }

  .LeftContainer__KnowMoreButton {
    margin-left: 5%;
  }

  .SwitchCarrer__LeftContainer,
  .SwitchCarrer__RightContainer {
    width: 80%;
  }

  .LeftContainer__KnowMoreButton {
    margin-left: 10%;
  }

  .UserFormContainer__FormContainer {
    width: 65%;
  }

  .videoComponent__headerContainer {
    flex-direction: column-reverse;
  }

  .videoComponet__mainContainer {
    padding: 0;
  }

  .headerContaienr__leftContainer,
  .headerContaienr__rightContainer {
    width: 100%;
    padding: 0.5em;
  }

  .headerContainer__poster {
    width: 100%;
  }

  .videoComponent__categoryText {
    padding-left: 2em;
  }

  .MockComponent__header_desc {
    width: 100%;
  }
  .followUs,.contactUs {
    align-items: center;
  }

  .contactUs {
    width: auto;
    width: 100%;
  }

  .column1 {
    align-items: center;
  }

  .column2,.column3 {
    text-align: center;
  }

  .footer_head {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
.followUs{
  width: 100%;
}  
}

@media screen and (max-width: 650px) {
  .App__header {
    padding-left: 0.5em;
  }

  .App__header_LogoContainer {
    width: 120px;
  }

  .homeSectionContainer__HeroContainer {
    grid-template-columns: 100%;
    grid-template-rows: 350px 250px 98px;
  }

  .HeroContainer__LeftSection {
    padding: 1em;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: flex-start;
  }

  .HeroContainer__RightSection {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .RightSection_HeroPoster {
    object-fit: cover;
    object-position: top;
  }

  .HeroContainer__achievementContainer {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .HeroLeftSection__FirstSentence {
    width: 100%;
    font-size: 20px;
  }

  .HeroLeftSection__SecondSentence {
    width: 100%;
    font-size: 4vw;
  }

  .HeroLeftSection__ThirdSentence {
    width: 100%;
    font-size: 3vw;
  }

  .CarrerPlanBox,
  .courseName {
    margin: 20px auto;
    width: 100%;
  }

  .LeftContainer__KnowMoreButton {
    margin-left: 0%;
  }

  .SwitchCarrer__MainContainer {
    padding: 0em;

  }

  .illustratedIMG {
    display: none;
  }

  .UserFormContainer__LeftContainer {
    padding: 2em 0em;
    width: 100%;
  }

  .UserFormContainer__FormContainer {
    width: 80%;
  }

  .UserForm__Achievements {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }

  .popupBox {
    width: 95%;
  }
}

@media screen and (max-width: 585px) {
  .StepContainer__Box {
    position: relative;
    width: 275px;
  }

  .StepContainer__arrowImages {
    width: 120px;
    top: 8em;
  }

  .StepContainer__firstArrowImages {
    left: 65%;
  }

  .StepContainer__SecondArrowImages {
    right: 65%;
  }

  .CodingJourney__finalGoalImage {
    width: 200px;
    width: 100%;
  }
  .dashboard__sideBar {
    display: none;
  }

  .dashboard__courseDetails {
    width: 100%;
    padding: 0;
  }

  .activeSidebar {
    background-color: white;
    z-index: 4;
    position: absolute;
    width: 100%;
  }
  .dashboard__sidebarHamMenu{
    z-index: 5;
  }
}

@media screen and (max-width: 426px) {

  .homeSectionContainer__HeroContainer {
    grid-template-columns: 100%;
    grid-template-rows: 300px 230px 98px;
  }

  .HeroLeftSection__FirstSentence {
    width: 100%;
    font-size: 6vw;
  }

  .HeroLeftSection__SecondSentence {
    width: 100%;
    font-size: 5vw;
  }

  .HeroLeftSection__ThirdSentence {
    width: 100%;
    font-size: 4vw;
  }

  .CodingJourneyContainer__RightContainer {
    padding-left: 2em;
    padding-right: 1em;
    width: 100%;
  }

  .StepContainer__arrowImages {
    width: 90px;
    top: 8em;
  }

  .StepContainer__Box {
    position: relative;
    width: 180px;
  }

  .SetpContainer_Box_Text {
    font-size: 14px;
  }

  .StepContainer__heading {
    font-size: 16px;
    width: 180px;
  }

  .StepContainer__firstArrowImages {
    left: 55%;
  }

  .StepContainer__SecondArrowImages {
    right: 55%;
  }

  .CarrerPlanICON {
    top: 0;
    width: 60px;
    height: 66px;
    left: -25px;
  }

  .CarrerPlanBox_Text {
    width: 100%;
    font-size: 16px;
  }

  .headingFirst {
    text-align: left;
    font-size: 26px;
    padding-left: 0.5em;
    font-size: 700;
    color: #3e4041;
  }

  .UserFormContainer__FormContainer,
  .UserForm__Achievements {
    width: 95%;
  }

  .MockComponent__header {
    gap: 10px;
    padding-left: 1em;
    padding-bottom: 0.5em;
  }
}


@media screen and (max-width: 376px) {
  .CodingJourneyContainer__RightContainer {
    padding-left: 2em;
    padding-right: 0;
  }

  .StepContainer__arrowImages {
    width: 70px;
    top: 10em;
  }

  .StepContainer__firstArrowImages {
    left: 60vw;
  }

  .StepContainer__SecondArrowImages {
    right: 60vw;
  }

  .CourseType__CardArrowButton {
    width: 40px;
    height: 40px;
  }

  .CourseType__CardContainer {
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  }

  .FounderKnow__MainContainer {
    min-height: 220vh;
  }

  .CarrerPlanICON {
    top: 0;
    width: 60px;
    height: 66px;
    left: -25px;
  }

  .CarrerPlanBox_Text {
    width: 100%;
    font-size: 16px;
  }

  .CarrerPlanBox {
    padding-right: 0.5em;
  }

  .FounderDetailsContainer__TextSecond,
  .FounderDetailsContainer__TextSecond2 {
    font-size: 6vw;
    width: 100%;
  }

  .term_ConditionBox {
    font-size: 14px !important;
  }

  .videoComponent__CardContainer {
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(310px, 310px));
  }

}